@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
/*gradient for buttons: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);*/
/*gradient for text: (15deg, #1c78ad 0%, #72bbb2 100%)*/

* {
  margin: 0;
}

#root {
  padding: 2.5vw;
  height: 100vh;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background-attachment: fixed;
  font-size: 10px;
  color: black;
  font-family: "Open Sans", sans-serif;
}


/*
.Home {
  text-align: left;
}
.Home h1 {
  background: -webkit-linear-gradient(15deg, #1c78ad 0%, #72bbb2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
}

button {
  border: 3px solid #72bbb2;
  border-radius: 100px;
  background: transparent;
}
*/
