@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&display=swap');
/*gradient for buttons: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);*/
/*gradient for text: (15deg, #1c78ad 0%, #72bbb2 100%)*/
* {
  margin: 0;
}

#root {
  // padding: 2.5vw;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    #c4c5c7 0%,
    #dcdddf 52%,
    #ebebeb 100%
  );
  background-attachment: fixed;
  // font-size: 10px;
  // color: black;
  font-family: "Source Sans Pro", sans-serif;
}
