.landing {
  width: 100vw;
  height: 480px;
  background-image: url("https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // background-position: center left;

  div: {
    margin: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.title {
  background: -webkit-linear-gradient(15deg, #434343 0%, black 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
  width: 330px;
  padding-left: 20px;
  text-align: left;
}

.skew {
  transform: skew(-20deg);
  background-color: tomato;
  display: flex;
  justify-content: center;
}

h3 {
  color: white;
  transform: skew(20deg);
}

.button-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.home-btn {
  background-image: linear-gradient(
    to top,
    #c4c5c7 0%,
    #dcdddf 52%,
    #ebebeb 100%
  );
}

/*
const Title = styled.h1`
  
`;

const Button = styled.button`
  border: 3px solid #72bbb2;
  border-radius: 100px;
  background: transparent;
  margin: 30px 10px 30px 0px;
  font-size: 1.1rem;
  padding: 10px 0px;
  width: 110px;
`;

const Tile = styled.div`
  width: 95%;
  padding: 2.5%;
  border: 3px solid #80d0c7;
  border-radius: 10px;
  margin-bottom: 15px;
  h2 {
    width: 95%;
  }
`;

export { HomeDiv, Title, Button, Tile };*/
