.landing {
  width: 100vw;
  height: 99vh;
  background-image: url("https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-top: 8px solid #598e89;
  div: {
    margin: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}

.title {
  color: black;
  font-size: 3.5rem;
  width: 330px;
  padding-left: 20px;
  text-align: left;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin-bottom: 55px;
}

.home-btn {
  background-image: linear-gradient(
    to right,
    #c4c5c7 0%,
    #dcdddf 52%,
    #ebebeb 100%
  );
}

.arrow {
  position: absolute;
  left: 50%;
  top: 94%;
  // height: 50px;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s 2;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-8px, -8px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(8px, 8px);
  }
}

.logo-text {
  color: #598e89;
  font-family: "Big Shoulders Text", cursive;
  font-size: 3.8rem;
  padding-bottom: 15px;
  margin: 25px;
  border-bottom: dotted #c4c5c7 2px;
  // text-decoration: underline dotted #c4c5c7;
}

.home-card {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skew {
  transform: skew(-20deg);
  background-color: tomato;
  display: flex;
  justify-content: center;
  h3 {
    transform: skew(20deg);
  }
}

h3 {
  color: white;
  // transform: skew(20deg);
}
