.apptH4 {
  color: #598e89;
}

.dlt {
  color: tomato;
}

.appointmentCard,
.practiceCard {
  display: flex;
  justify-content: space-between;
}

.appointments,
.practices {
  display: flex;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}
